<svg class="bt" id="bt" ref="bt" aria-hidden="false" aria-label="bt">
  <g class="bt-container" id="btContainer" ref="bt-container">
    <g class="bt-links" id="btLinks" ref="bt-links"></g>
    <g class="bt-nodes" id="btNodes" ref="bt-nodes"></g>
  </g>
</svg>
