<template src="@components/binary-tree-example/binary-tree-example.component.html" lang="html" />
<script src="@components/binary-tree-example/binary-tree-example.component.ts" lang="ts" />
<style src="@components/binary-tree-example/binary-tree-example.component.scss" scoped lang="scss" />
